@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Open Sans';
}

.form-section {
    padding-top: 5em;
    padding-left: 4em;
}

.icon{
    height: 16px;
    width: 22.37px;
    margin-left: -40px;
    margin-bottom: -3px;
}

.input-container {
    margin-top: 3px;
}

input{
    width: 490px;
    height: 45px;
    border-left: 3px solid #0C31F1;
    border-right: 1px solid #C1BBBB;
    border-top: 1px solid #C1BBBB;
    border-bottom: 1px solid #C1BBBB;
}

.confirm-password {
    margin-top: 10px;
}

.logo-section {
    background-color: rgba(229, 229, 229, 0.41);
    padding-top: 19em;
    padding-bottom: 10.1em;
}

.logo {
    width: 70%;
    margin-left: 100px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    color: #393B8D;
}

p {
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
}

.password-container {
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.61);
    margin-top: 20px;
}

.password-container p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}

button {
    width: 490px;
    height: 45px;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    background-color: #393B8D;
    margin-top: 39px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    border: none;
}


